@import url(fonts.css);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none ;
}
button {
    border: none;
}
.bold{
    font-weight: 700;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 21px 12.5%;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header_name-site {
font-family: Montserrat;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-left: 10px;
}
.header__name-city {
    color: rgba(51, 51, 51, 1);

font-family: Montserrat;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.header__search {
    position: relative;
}
.header__input-search {
border: 1px solid rgba(236, 236, 236, 1);
border-radius: 3px;
background: rgba(250, 250, 250, 1);
padding: 0px 0px 0px 17px;
width: 575px;
height: 42px;
}
.header__category-search {
    position: absolute;
    right: 59px;
    top: 10px;
    color: rgba(51, 51, 51, 1);
    font-family: Montserrat;
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header__icon-search {
    position: absolute;
    right: 0;
    padding: 12.5px 16px;
}
.header__contacts {
    display: flex;
    align-items: center;
}
.header__block-contact {
    margin-right: 44px;
}
.header__tel-contact {
    color: rgba(34, 34, 34, 1);
font-family: Montserrat;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.header__text-contact {
color: rgba(43, 184, 74, 1);

font-family: Montserrat;
font-style: Regular;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
display: flex;
align-items: center;
}
.header__point-contact {
display: block;
width: 8px;
height: 8px;
background: rgba(43, 184, 74, 1);
border-radius: 50%;
margin-right: 4px;
}
.header__button-contact {

width: 148px;
height: 42px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px 15px 10px 15px;
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 8%;
text-align: left;
text-transform: uppercase;
border-radius: 2px;
background:  rgba(122, 76, 217, 1);

}
.navigation{
    background: rgba(122, 76, 217, 1);
    padding: 17px 0;
}
.navigation__menu {
display: flex;
justify-content: center;
}
.navigation__link {
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Bold;
font-size: 13px;
font-weight: 700;
line-height: 17.3px;
letter-spacing: 1.2px;
text-align: center;
text-transform: uppercase;
}
.navigation__item {

    margin: 0 38px;
}
.navigation__link-icon{
margin-right: 6px;
}
.home {
    background-image: url(../images/BG.png);
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: space-around;
align-items: center;
height: 596px;
overflow: hidden;
position: relative;
}
.home__content{
  
    margin-left: 100px;
}
.home__image{
   height: 120%;
}
.Home__name{
    color: rgba(32, 32, 32, 1);

font-family: Montserrat;
font-style: Regular;
font-size: 11px;
font-weight: 400;
line-height: 14.29px;
letter-spacing: 0.8px;
text-align: left;
text-transform: uppercase;
margin-bottom: 19px;
}
.Home__offer{
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 34px;
font-weight: 400;
line-height: 39.1px;
letter-spacing: 0%;
text-align: left;
}
.home__action {
    color: rgba(51, 51, 51, 1);

font-family: Montserrat;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.Home__callback{
width: 509px;
border-radius: 8px;
padding: 24px;
border-radius: 8px;
box-shadow: 0px 16px 53px 0px rgba(255, 255, 255, 0.107);
background: rgb(255, 255, 255);
}
.Home__callback-action {
color: rgba(56, 56, 56,
1);
font-family: Montserrat;
font-style: Regular;
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 26px;
}
.home__callback-input{
    width: 200px;
    height: 50px;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 3px;
background: rgba(250, 250, 250, 1);
margin-right: 18px;
}
.Home__callback-button{
width: 179px;
height: 50px;
font-family: Montserrat;
font-style: Regular;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
padding: 16px 28px 16px 28px;
border-radius: 2px;
display: flex;

background: rgb(121, 52, 232);
letter-spacing: 0%;
text-transform: uppercase;
}
.Home__callback-form{
display: flex;
justify-content: center;
}
.home.callback-privacy-policy {
font-family: Montserrat;
font-style: Medium;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
margin-top: 26px;
color: rgba(117, 117, 117, 1);

}
.home.callback-privacy-policy-link{
   color: rgba(123, 72, 232, 1);
}
.home__points{
    display: flex;
    position: absolute;
    bottom: 28px;
    left: calc(50% -64px / 2);
}
.home__point{
width: 12px;
height: 12px;
border-radius: 6px;
background: rgb(255, 255, 255,1);
margin: 0 7px;
border: 2px solid rgba(0, 0, 0, 0.1);
}
.home__point--active {
    background: rgba(122, 76, 217, 1);  
}
.home__lines{
position: absolute;
left: -617px;
 width: 952px;
bottom: -547px;
}


.catalog__container{
width: 1347;
margin: 0 auto;
padding-top: 70px;
padding-bottom: 60px;
}

.catalog__grid-item {
border: 1px solid rgb(236, 236, 236, 1);
height: 180px;
padding: 24px;
display: flex;
align-items: flex-start;
overflow: hidden;
}
.catalog__grid-elements{
display: flex;
flex-direction: column;
}
.catalog__image{
    margin-right: 15px;
}
.catolog__grid-name{
color: rgb( 51, 51, 51, 1 );
font-family: montserrat;
font-style: medium;


}
.catolog__grid-link{

    margin-bottom: 10px;
}
.catalog__grid-link-hidden {
  color: linear-gradient(180.00deg, rgba(138, 66, 249,1) 0% white 72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -text-fill-color: transparent;
  background-clip:text ;
  font-family: montserrat;
  font-style: regular;
  font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.catolog__content{
    border-radius: 8px;
background: rgba(248, 248, 248, 1);
max-width: 1348px;
margin: 0 auto;
display: flex;
 align-items: center;
 padding: 79px 0 79px 112px;
}
.getcatolog__title{
color: rgba(56, 56, 56, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 34px;
font-weight: 500;
line-height: 41px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.getcatolog__description{
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}

.getcatolog__button{
    border-radius: 4px;
background: rgba(122, 76, 217, 1);
padding: 32px;
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: max-content;
}

.getcatalog__text{
    width: 40%;
}

.getcatalog__image{
    position: absolute;
    right: 0;
    bottom: -112px;
}

.getcatalog {
  margin-top: 60px;
  margin-bottom: 90px;
}

.form {
    color: white;
}

.form__text {
padding: 32px;
color: rgb(0, 0, 0);
font-family: Montserrat;
font-style: Regular;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: max-content;
}

.phone {
    width: 461px;
    height: 50px;
}

.orderprocess {
    margin-bottom: 96px;
    max-width: 1346px;
    margin: 0 auto;
    margin-top: 96px;
}
.orderprocess__header {
    
   color:#333333 ;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 25px;
    margin: 8px;
}
.orderprocess__head {
    display: flex;
    justify-content: space-between;
     margin-bottom: 64px;

}
.orderprocess__cards {
    display: flex;
}
.orderprocess__title {
color: #7A4CD9;
font-family: Montserrat;
font-style: Regular;
font-size: 24px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
width: max-content; 
text-align: center;
}


.orderprocess__button {
     padding: 32px;
color: #333333;
font-family: Montserrat;
font-style: Regular;
font-size: 12px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
width: max-content; 
text-align: right;
display: inline-block;
border: 1px solid #7A4CD9;
padding: 17.5px 28px 17.5px 28px;
}

.orderprocess__card {
    width: 262.8px;
    background-color: #f8f8f8;
    margin: 8px;
    padding: 36px 11.4px;
    text-align: center;
}

.orderprocess__text { 
    color: #383838;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0%;
}

.color {
    color: #7b48e8;
    font-family: montserrat;
    font-style: regular;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 25px;
}


.getpricelist {
    margin-top: 96px;
    margin-bottom: 15px;
}

.getpricelist__content {
    background-color: #f8f8f8;
    position: relative;
    max-width:1346px ;
    border-radius: 8px;
    background: rgb(248, 248, 248, 1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 40.5px 0px 40.5px 70px;
  
    position: relative;
}

.getpricelist__title{
color:rgb(0,0,0) ;
font-family: caption;
font-style: medium;
font-size: 34px;
font-weight: 500;
line-height: 41px;
letter-spacing: 0%;
text-align: left;
}


.getpricelist__text{
    width: 40%;
margin-right: 47px;
}


.getpricelist__button{
    background-repeat: 4px;
    background: rgba(122, 76, 217, 1);
    padding: 17.5px 0 ;
    color: white;
    font-family: montserrat;
    font-style: Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
   
grid-column-start:1;
grid-column-end: 3;
margin-top:24px;
border: none;
}

.getpricelist__description{
    color: #202020;
    font-family: montserrat;
    font-style: regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.getpricelist__name{
    width: 266.3px;
    height: 50px;
    background-color: #fafafa;
    border: 1px solid #ececec;
    margin-right: 16px;
}

.getpricelist__number {
    width: 266.5px;
    height: 50px;
    background-color: #fafafa;
    border: 1px solid #ececec;
}
.getpricelist__privacy-policy{
    color: black;
    font-family: montserrat;
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-top:15px ;
}

.getpricelist__form{
display: grid;
grid-template-columns: 1fr 1fr;
}
.getpricelist__image{
    position: absolute;
    right: -70px;
    bottom: -100px;
}

.getpricelist__link {
     color: #7b48e8;
}




.production__content{
    max-width:1346px;
    margin: 0 auto;
    display: flex;
    margin-top: 96px;
    margin-bottom: 64px;
}

.production__text {
    max-width: 724px;
    margin-right: 74px;
}

.production__title {
color: #383838;
    font-family: montserrat;
    font-style: Regular;
    font-size: 34px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0%;
    text-align: left;
    margin-top:15px ;
    
}

.production__description{
    color: #20202080;
    font-family: montserrat;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-top:15px ;
    margin-bottom: 15px;
}

.production__cards{
    display: flex;
}

.production__card{
    border: 1px solid rgba(32, 32, 32, 0.1);
    border-radius: 4px;
    width: 228px;
    margin-right: 20px;
    padding: 16px 16px 16px 16px;
}

.production__card-title{
    font-family: montserrat;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
}

.production__card-image{
    margin-right: 9px;
}

.production__card-description{
font-family: montserrat;
    font-size: 15px;
    font-weight: regular;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    color: #757575;
}

.production__image-block{
    position: relative;
}

.production__image{
    width:550px;
    height: 403px;
    position: absolute;
    z-index: 1;
}

.production__background1 {
    width: 553.1px;
    height: 401.93px;
    background-color: #E7E3ED;
    transform: rotate(2.82deg);
    border-radius: 12px;
    position: absolute;
}
.production__background2 {
    width: 553.1px;
    height: 401.93px;
    background-color: rgba(231, 227, 237,0.5 );
    transform: rotate(5.86deg);
    border-radius: 12px;
    position: absolute;
}





.fabric{
display: flex;
 margin-bottom: 64px;
 overflow: hidden;
 justify-content: center;
}

.fabric__image {
    margin-right: 20px;
}


.saleform{
    background-color: #f8f8f8;
    padding-top:64px ;
    padding-bottom: 64px;
}


.saleform__content {
    max-width: 892px;
    border-radius: 4px;
    box-shadow: 0px 16px 53px 0px #000000;
    margin: 0 auto;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.saleform__privacy-policy {
        color: black;
    font-family: montserrat;
    font-style: Medium;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 24px; 
}

.saleform__link {
         color: #7b48e8;
}

.Whatsapp{
    color: #2BB84A;
    font-weight: bold;
    
}

.Viber{
    color: #7B48E8  ;
    font-weight: bold;
}

.saleform__title {
    font-family: montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 8px;
    max-width: 75%;
    
}

.saleform__description {

 font-family: montserrat;
    font-size: 15px;
    font-weight: Regular;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 9px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 24px;
    margin-top: 8px;
}

.saleform__input {
    width: 308.5px;
    height: 50px;
    background-color:  #ececec;
    font-family: montserrat;
    border: none;
    margin-right: 18px;
    padding: 0px 16px 0px 16px;
    border-radius: 3px;
}

.saleform__inputs {
    display: flex;
    
}


.saleform__button{
    background-color: #7A4CD9;
    width: 191px;
    height: 50px;
    color: #f8f8f8;
    font-family: montserrat;
    font-weight: 12px;
}

.saleform__help {
     font-family: montserrat;
    font-size: 15px;
    font-weight: Regular;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
   
    
}

.saleform__whatsapp{
    position: relative;
    margin-bottom: -10px;
}

.warranty {

    background-color: #ffffff;
    padding-bottom: 64px;
  
}

.warranty__name {
    font-family: montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 8%;
    text-align: left;
    color: #999999; 

}


.warranty__title {
    font-family: montserrat;
    font-size: 34px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    color: #383838; 
}

.number {
    color: #7A4CD9;
    font-family: montserrat;
    font-size: 34px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 8%;
    text-align: left;
}

.warranty__card{
    display: flex;
}

.warranty__card--name{
    font-family: montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    color: #383838; 
}

.warranty__card--description{
    font-family: montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    color: #000000d0; 
}

.warranty__button {
    background-color: #7A4CD9;
    color: #f8f8f8;
    border-radius: 4px;
    width: 381px;
    height: 88px;
    
}

.warranty__button--text {
        font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.header__cart-count {
    width: 16px;
    top: -8px;
    height: 16px;
    border-radius: 50%;
    background-color: #7A4CD9;
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
}
.header__cart {
    position: relative;
    display: none;
}

.header__gam-line {
    width: 16px;
    height: 3px;
    background-color: #333333;
    border-radius: 1px;
    margin-bottom: 4px;
}

.header__gam-line-short {
    width: 16px;
}
.header__gam {
    margin-right: 22px;
    display: none;
}






















@media  (max-width: 1024px) {
    .header {
        padding: 21px;
    }
    .header__input-search {
        width: 300px;
    }
    .navigation {
        padding: 0 21px;
    }
    .navigation__menu{
        justify-content: space-between;
        width: 100%;
    }
    .navigation__item {
        margin: 0;
    }
    .home {
        padding-left: 21px;
    }
    .home__content {
        width: 50%;
        z-index: 1;
    }
    .home__image {
        margin-left: 10px;
        width: 50%;
    }
    .home__lines {
        left: -626px;
        bottom: 629px;
    }
    .catalog__container {
        width: auto;
        padding: 76px 21px 0 21px;
    }
    .longbanner__left-image {
        left: -869px;
    }
    .longbanner__right-image{
        right: -823px;
    }
    .orderprocess__cards {
        margin-left: 21px;
        
    }

    .orderprocess__head {
        margin-left: 140px;
    }

    .getpricelist__image {
        right: -350px;
    }
    .production__background1{
        left: -80px;
    }
    .production__background2 {
        left: -80px;
    }
    .production__image {
        left: -80px;
    }

    .fabric {
        overflow: visible;
        margin-left: 300px;
    }
    .fabric__image {
        width: 300px;

    }
    .saleform {
        margin-left: 120px;
    }
}







@media  (max-width: 768px) {
    .header__search {
        width: 50px;
        height: 50px;
    }
    .header__input-search {
        display: none;
    }
    .header__category {
        display: none;
    }
    .home {
        justify-content: flex-start;
        height: auto;
        padding-bottom: 30px;
    }
    .home__content{
        width: 60%;
    }
    .home__image {
        position: absolute;
        height: 100%;
        right:-75px;
        width: auto;
    }
    .catalog__grid {
        grid-template-columns: 1fr 1fr;
    }
    .getcatalog__image {
        width: 82%;
        bottom: auto;
        right: -121px;
    }
    .orderprocess__cards{
        margin-left: 200px;
    }
    .orderprocess__head {
        margin-left: 200px;
    }
        .getpricelist__image {
        right: -600px;
        top: 50px;
    }
    .production__text {
        max-width: 724px;
        margin-right: 80px;
        margin-left: 120px;
    }

}
    



@media (max-width: 540px) {
    .header__name-city{
        display: none;
    }
    .header__contacts {
        display: none;
    }
.header__button {
    display: none;
}
.header__sea rch{
    margin-left: auto;
}
.header__cart {
    display: flex;
}
.navigation {
    display: none;
}
.home__image {
    display: none;
}
.Home__callback {
    display: none;
}
.home__content {
    text-align: center;
    width: 100%;
}
.home__name {
    display: none;
}
.home__name {
    display: none;
}
.Home__offer {
    text-align: center;
}
.home__action {
    text-align: center;
}
.home {
    padding: 49px 25px;
    background: url(.../images/BG-mobile.png);
    background-size: auto 120%;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 263px;
    height: 360px;
}
.home__lines {
    display: none;
}
.catalog__allcatalog-link {
    display: none;
}
.catalog__grid-link {
    display: none;
}
.catalog__grid-item {
    flex-direction: column;
    align-items: center;
}
.getcatalog__text {
    width: 100%;
    z-index: 1;
}
.getcatolog__description {
    margin-bottom: 164px;
}
.getcatolog__button  {
    margin:  0 auto;
}
.saleform__inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.saleform__input {
    margin-bottom: 16px;
    width: 296px;
}
.saleform__button {
    position: relative;
    left: 16px;
}
.warranty__description{
    font-size: 19px;
}
.warranty__download-button {
    width: 328px;
    height: 47px;
    margin-top: 24px;
    z-index: 3;
}
.warranty__contract {
    width: 464.37px;
    height: 370.89px;
    margin-top: 150px;
}
.warranty__first {
    margin-bottom: 24px;
}
.warranty__second {
    margin-bottom: 24px;
}
.warranty__third {
    margin-bottom: 237px;
}
.getpricelist__content {
    display: flex;
}
.getcatalog__image {
    width: 345.24px;
    height: 265.8px;
    position: relative;
    margin-bottom:400px ;
}
.getcatalog__title {
    margin-bottom: 20px;
}
.getcatalog__button {
    z-index: 1;
}
}

@media (max-width: 368px) {
    .Home__offer{
        font-size: 19px;
        line-height: 21px;
    }
    .home__action {
        font-size: 13px;
        line-height: 15px;
    }
    .home {
        height: 230px;
        background-position: -172px top;
        margin-bottom:369xpx ;
    }
    .Home__callback {
        margin-top: 46px;
    }
    .Home__callback-action {
        font-size: 18px;
        line-height: 28px;
    }
    .Home__callback-form {
        flex-direction: column;
    }
    .home__callback-input {
        margin-right: auto;
        width: 100%;
        margin-bottom: 18px;
    }
    .Home__callback-button {
        width: auto;
        text-align: center;
    }
    .getcatalog__title {
        font-size: 10px;
        line-height: 21px;
    }
    .getcatolog__description {
        font-size: 15px;
        line-height: 25px;
    }
    .getcatalog__content {
        padding: 23px 18px 26px 26px;
    }
    .getcatalog__image {
        right: -47px;
        bottom: -45px;
        width: 110%;
    }
    .longbanner__item {
        margin-right: 8px;
        width: 128px;
    }
    .processorder__map {
        
    }
}