@primary-color: aquamarine;
@second-color: brown;
@backgroung-color: blue; 

@main-font: "Aerial";
body{
    background-color: @backgroung-color;
    margin: 0;
}
header{ 
    background-color: @second-color;
    display: flex;
    justify-content: space-around;
ul {
    display: flex;
    list-style: none;
    li 
    {margin: 0 15px;
    a {
    text-decoration:  none;
    color: @primary-color;
    font-family: @main-font;
}
}

     
}
}
